.bfooterCont {
    width: 100%;
    height: 444px;
    position: relative;
}

.bfooterImg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
}

.bfooterCont .aFlex {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.bfooterCont .title {
    color: white;
    text-align: center;
}