.footerCont {
  padding: 60px 80px;
  background-color: #2a254b;
}

.footerCont .title {
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.footerCont .text {
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.footerCont .reach {
  width: 50%;
}

.footerCont .social {
    font-size: 24px;
}