.productCard .title {
  font-size: 20px;
  font-weight: 400;
}
.productCard .text {
  font-size: 18px;
  font-weight: 400;
}

.productCard {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 305px;
}
