.startedFlex {
  padding: 80px;
}

.startedFlex .title {
  font-size: 32px;
  font-weight: 400;
  color: white;
}

.startedFlex .text {
  font-size: 18px;
  font-weight: 400;
  color: white;
}

.startedCard {
  background-color: #2a254b;
}

.startedView {
  font-size: 16px;
  font-weight: 400;
  color: white;
  padding: 16px 24px;
  background-color: #4E4D93;
}
