.startedFlex {
  padding: 80px;
}

.startedFlex .title {
  font-size: 32px;
  font-weight: 400;
  color: white;
}

.startedFlex .text {
  font-size: 18px;
  font-weight: 400;
  color: white;
}

.startedCard {
  background-color: #2a254b;
  padding: 56px;
}

.startedView {
  font-size: 16px;
  font-weight: 400;
  color: white;
  padding: 16px 24px;
  background-color: #4e4d93;
  transition: all 0.2s;
  cursor: pointer;
}

.startedView:hover {
  background-color: white;
  color: #2a254b;
}

.startedImg {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 50%;
}