@font-face {
  font-family: "Clash Display";
  src: url("/assets/fonts/ClashDisplay-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Clash Display";
  src: url("/assets/fonts/ClashDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Clash Display";
  src: url("/assets/fonts/ClashDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Clash Display";
  src: url("/assets/fonts/ClashDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Clash Display";
  src: url("/assets/fonts/ClashDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Clash Display";
  src: url("/assets/fonts/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "Clash Display" sans-serif !important;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.fullHW {
  height: 100%;
  width: 100%;
}

.fullH {
  height: 100%;
}

.fullW {
  width: 100%;
}

.noBO {
  border: none !important;
  outline: none !important;
}

.noMP {
  margin: 0 !important;
  padding: 0 !important;
}

.border {
  border: 1px solid red;
}

.darkPrimary {
  color: #2a254b !important;
}
