.aboutView {
  font-size: 16px;
  font-weight: 400;
  color: white;
  padding: 16px 24px;
  background-color: #2a254b;
  transition: all 0.2s;
  cursor: pointer;
}

.aboutView:hover {
  background-color: #4e4d93;
}
