.filtersFlex {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    position: sticky;
    top: 100px;
}

.productsFlex {
    flex-basis: 0;
    flex-grow: 3;
    flex-shrink: 1;
}

.allCont .title {
    font-size: 16px;
    font-weight: 400;
}

.allCont .label {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.allFlex {
    padding: 50px 80px;
}